.auth {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
}
.bg {
    z-index: -1;
}

.bg.bg-top {
    top: -10rem;
    right: -15rem;
}

.bg-top img {
    height: 40rem;
    transform: rotate(180deg);
}

.bg.bg-bot {
    bottom: -5rem;
    left: -5rem;
    transform: rotate(180deg);
}

.bg-bot img {
    height: 21rem;
}

.banner-cover{
    height: 50vh;
    width: 100vw;
}
.banner{
    width: 100%;
    height: unset;
}
.profile{
    transform: translateY(-25%);
}
.photo-profile{
    object-fit: cover;
    width: 11rem;
    height: 11rem;
}
.photo-status{
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.aside{
    position: sticky;
    top: 3rem;
}

@media (max-width: 768px) {
    .banner{
        width: unset;
        height: 100%;
    }
    .profile{
        transform: translateY(-30%);
    }
    .photo-profile{
        width: 8rem;
        height: 8rem;
    }
    .aside{
        position: static;
    }
  }
  
  @media (min-width: 992px) {
    .banner{
        width: 100%;
        height: unset;
    }
  }
  
  @media (min-width: 1200px) {
    .banner{
        width: 100%;
        height: unset;
    }
  }