.select-img{
    position: relative;
}
.select-img img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.select-img span{
    position: absolute;
    margin: auto;
}

.status-img{
    object-fit: cover;
    width: 100%;
    height: 25rem;
}

.view-full{
    background-color: rgba(0, 0, 0, 0.9);
}

.main-full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.main-full img{
    object-fit: contain;
    width: 95%;
    height: 100%;
}
.aside-full{
    width: 25%;
    background-color: white;
}

.adm-sm-img{
    object-fit: cover;
}

@media (max-width: 768px) {
    .status-img{
        height: 15rem;
    }
  }
  
@media (min-width: 992px) {
    .status-img{
        height: 15rem;
    }
  }
  
@media (min-width: 1200px) {
    .status-img{
        height: 22rem;
    }
  }