.like, .comment, .s-mark{
    color: rgb(123, 123, 123);
    cursor: pointer;
}

.like:hover{
    transition: .3s;
    color: rgb(211, 52, 52);
}

.like-done{
    color: rgb(211, 52, 52);
}

.comment:hover, .s-mark:hover{
    transition: .3s;
    color: rgb(28, 28, 28);
}

.s-marked{
    color: black;
}
.photo-comment{
    object-fit: cover;
    width: 2rem;
    height: 2em;
}

.comment h5{
    font-size: 1.1rem;
}

.comment-back{
    font-size: 1rem;
    margin-top: 6px;
}